.app{
    background-color: white;
    padding: 20px;
}

table{
    color: black;
    border-style: solid;
    border-color: aqua;
    margin: 20px;
    font-size:small;
}

th {
    background-color: aqua;
}

.codigo, .medida, .fecha, .valor{
    width: 100px;
}

.nombre{
    width: 300px;
}

h1{
    background-color: aqua;
    color: black;
}

input{
    background-color:chartreuse;
    border-color: black;
    width: 725px;
    height: 30px;
}

footer{
    color: yellow;
}